/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
.pager li.pager-previous a {
  width: 70px
}

section#block-block-1 {
  background: #E4EDF7;
}

h6.site-slogan {
  padding-bottom: 24px;
}

/* The select below centers the swag images in the sidebar, per:
   http://www.w3.org/Style/Examples/007/center.en.html */
aside#region-sidebar-first div.block-without-title img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Trying to make my images 'responsive'. Used: 
   http://stackoverflow.com/questions/11736363/responsive-images-with-css
 */
img {
    max-width:100% !important;
    height:auto;
    display:block;
}
