/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
.pager li.pager-previous a {
  width: 70px
}

section#block-block-1 {
  background: #E4EDF7;
}

h6.site-slogan {
  padding-bottom: 24px;
}

/* The select below centers the swag images in the sidebar, per:
   http://www.w3.org/Style/Examples/007/center.en.html */
aside#region-sidebar-first div.block-without-title img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Trying to make my images 'responsive'. Used: 
   http://stackoverflow.com/questions/11736363/responsive-images-with-css

   NOTE: I only do this for the 'front' page.
 */
body.front img {
    max-width:100% !important;
    height:auto;
    display:block;
}

/* Reading http://drupal.org/node/1622454, this is probably the
 * easiest way to hide the tags and tracker (past posts) block when you're on a
 * mobile device. This CSS sweeps it from view, but the device likely still
 * downloads the raw HTML.
 */
section#block-tagadelic-2 {
  display: none;
}

section#block-views-tracker-block-1 {
  display: none;
}

/* This adds a bit of margin to the first block after the tags
 * and tracker (past posts) block.
 */
div.block-3 {
  margin-top: 10px;
}

/* This adds spacing to the 'tags' link area. */
div.field-name-taxonomy-vocabulary-2 {
  margin-top: 5px;
  margin-bottom: 10px;
}
/*
 * This adds spacing between the tags. NOTE: In Drupal, these are 
 * configured to display 'inline'.
 */
div.field-name-taxonomy-vocabulary-2 div.field-items div.field-item {
  padding-right: 8px;
}

h2.node-title {
  margin-bottom: 5px;
}

/*
 * If you're not on the front page, and you're a story, then 
 * do NOT display the sidebar region in the mobile-first layout.
 */
body.not-front div.region-sidebar-first-inner {
  display: none;
}
