/* This file will hold styles for all layouts using the alpha grid (i.e. not
 * the mobile layout). */

/* See global.css */
section#block-tagadelic-2 {
  display: block;
}

section#block-views-tracker-block-1 {
  display: block;
}

/*
 * See global.css.
 */
body.not-front div.region-sidebar-first-inner {
  display: block;
}

